albumentations
catalyst
black
black[jupyter]
isort
matplotlib
pandas
patchify
pytorch-lightning
seaborn
segmentation-models-pytorch
# torch
# torchvision
tensorboard
wandb
rastervision

# for torch and torchvision: https://pytorch.org/get-started/locally/
# torch
# torchvision